header{
    color: #0e3c7e;
    border-bottom: .1em solid gray;
}

#header{
    display: flex;
    justify-content:center;
}

#welcome{
    display: flex;
    justify-content: flex-end;
    padding-right: 5px;
}

